

#header{
    background-color: #ecd982;
    width: 800px;
    height: 100px;
}

#header h2{
    font-size: 32px;
    font-weight: bold;
    color: #000;
    text-align: center;
    line-height: 100px;
}

#aside{
    background-color: #7fd3d3;
    width: 200px;
    float: left;
    height: 400px;
}

#main{
    background-color: #829eec;
    width: 600px;
    float: left;
    height: 400px;
}

#main form{
    margin: 0 auto;
    width: 80%;
}

input[type="submit"]{
    display:block;
    text-align: right;
    margin-left: auto;
    margin-top: 10px;
}

#footer{
    background-color: #9582ec;
    width: 800px;
    clear: both;
    height: 100px;
}




table {
    border: 4px solid #000;
    margin-top: 30px;
}

td ,th{
    border: 1px solid #000;
}
